<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talool.android"
    android:versionCode="10"
    android:versionName="1.1.10" >

    <permission android:name="com.talool.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.talool.android.permission.C2D_MESSAGE" />

</manifest>